@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Carter+One&display=swap');

body
{
  background-color: rgb(24, 3, 39);
 
}
.display-box
{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.2rem solid lightgrey;
  border-radius: 0.4rem;
  

}
.list-item-title
{
  color: rgb(29, 11, 67);
  border-bottom: 0.1rem solid rgb(46, 46, 46);
  padding: 1rem;
  /* background-color: rgb(7, 97, 97); */
  background-image: linear-gradient(to right top, #051937, #004a7b, #0082a1, #00b990, #12eb4b);
  font-family: 'Amaranth', sans-serif;
  font-size: 2.5rem;

}


.list-item-description
{
  color: rgb(51, 51, 51);
  border-bottom: 0.1rem solid rgb(46, 46, 46);
  padding: 1rem;
  margin-top: 0.3rem;
  /* background-color: rgb(25, 163, 163); */
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8c0ff, #3f2b96); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
font-family: 'Carter One', cursive;
  font-size: 1.5rem;
  display: flex;
  border-radius: 0.2rem;
  transition: width 0.35s ease-in-out;
}



.delete-button{
  float: right;
}
.input-boxes
{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}
.input-group-text
{
  color: black;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  min-width: 6rem;
}

.date
{
  font-size: 16px;
  float: left;
}
.deleteicon,.addbutton
{
  font-size: 2rem;
}
.addbutton
{
  padding-left: 0.3rem;
}